@model chuyende.Models.LoaiSanPham

@{
    ViewBag.Title = "Chỉnh sửa thông tin loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Chỉnh sửa thông tin loại sản phẩm</h3>

@using (Html.BeginForm("Edit", "LoaiSanPhams", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MaLoaiSP)


<div class="form-group">
    @Html.LabelFor(model => model.TenLoaiSP, "Tên Loại sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TenLoaiSP, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TenLoaiSP, "", new { @class = "text-danger" })
    </div>
</div>


    <div class="form-actions">
        <button type="submit" class="save-btn btn btn-success">Lưu & thay đổi</button>
        <button type="button" class="cancel-btn btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "LoaiSanPhams")'">Hủy</button>

    </div>
}
