@model chuyende.Models.HoaDon

@{
    ViewBag.Title = "Thêm mới hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="form-container">
    <h3>Thêm mới hóa đơn</h3>

    @using (Html.BeginForm("Create", "HoaDons", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.MaHD,"Mã Hóa Đơn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaHD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaHD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaKH, "Khách hàng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaKH", ViewBag.KhachHangList as SelectList, "-- Chọn khách hàng --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhuongThucThanhToan, "Phương thức thanh toán", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PhuongThucThanhToan, new SelectList(new[]
                {
                    new { Value = 1, Text = "Tiền mặt" },
                    new { Value = 2, Text = "Chuyển khoản" }
                }, "Value", "Text"), "-- Chọn phương thức --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhuongThucThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, "Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TrangThai, new SelectList(new[]
                {
                    new { Value = 0, Text = "Đã thanh toán" },
                    new { Value = 1, Text = "Chưa thanh toán" },
                    new { Value = 2, Text = "Đang xử lý" },
                    new { Value = 3, Text = "Đang vận chuyển" }
                }, "Value", "Text"), "-- Chọn trạng thái --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayTao,"Ngày Tạo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayTao, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.NguoiTao, "Nhân viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NguoiTao", ViewBag.NhanVienList as SelectList, "-- Chọn nhân viên --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NguoiTao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="save-btn btn btn-success">Lưu</button>
            <button type="button" class="cancel-btn btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "HoaDons")'">Hủy</button>
        </div>
    }
</div>
