@model chuyende.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-container">
    <h3>Bạn có chắc chắn muốn xóa mục này không?</h3>

    <table>
        <thead>
            <tr>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Số lượng</th>
                <th>Giá bán</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.TenSP)</td>
                <td>
                    @if (!string.IsNullOrEmpty(Model.HinhAnh))
                    {
                        <img src="@Url.Content("~/img/sanpham/" + Model.HinhAnh)" alt="Logo" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>Không có hình ảnh</span>
                    }
                </td>
                <td>@Html.DisplayFor(model => model.SoLuong)</td>
                <td>
                    @if (Model.GiaDau.HasValue && Model.SoGiam.HasValue)
                    {
                        var giaBan = Model.GiaDau.Value - (Model.GiaDau.Value * Model.SoGiam.Value / 100);
                        @String.Format("{0:N0} VND", giaBan)
                    }
                </td>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <button type="submit" class="delete">Xác nhận</button>
            <button type="button" class="cancel-btn btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "SanPhams")'">Hủy</button>

        </div>
    }

</div>