@model IEnumerable<chuyende.Models.SanPham>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-container">
    <h3>Danh sách sản phẩm</h3>
    <div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="custom-alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="custom-alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }


    </div>

    <div class="header-actions">

        @using (Html.BeginForm("Search", "SanPhams", FormMethod.Get, new { @class = "search-form" }))
        {
            <input type="text" name="keyword" class="search-input" placeholder="Tìm kiếm sản phẩm...">
            <button type="submit" class="search-btn">
                <i class="fas fa-search"></i> Tìm kiếm
            </button>
        }
        @if (Session["ChucVu"].ToString() == "nv" && Session["ChucVu"].ToString() != "Nhân Viên")
        {
            <div class="actions">
                <a href="@Url.Action("Create", "SanPhams")" class="add-btn">Thêm mới</a>
            </div>
        }
    </div>
    

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Số lượng</th>
                <th>Giá bán</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @{ int stt = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td>@Html.DisplayFor(modelItem => item.MaSP)</td>
                    <td>@Html.DisplayFor(modelItem => item.TenSP)</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.HinhAnh))
                        {
                            <img src="@Url.Content("~/img/sanpham/" + item.HinhAnh)" alt="Logo" style="max-width: 100px; max-height: 100px;" />
                        }
                        else
                        {
                            <span>Không có hình ảnh</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                    <td>
                        @if (item.GiaDau.HasValue && item.SoGiam.HasValue)
                        {
                            var giaBan = item.GiaDau.Value - (item.GiaDau.Value * item.SoGiam.Value / 100);
                            @String.Format("{0:N0} VND", giaBan)
                        }
                    </td>
                    <td class="action-icons">
                        @if (Session["ChucVu"].ToString() == "nv" && Session["ChucVu"].ToString() != "Nhân Viên")
                        {
                            <a href="@Url.Action("Edit", "SanPhams", new { id = item.MaSP })">
                                <i class="fas fa-edit edit"></i>
                            </a>
                        }
                        <a href="@Url.Action("Details","SanPhams", new { id = item.MaSP })">
                            <i class="fas fa-eye view"></i>
                        </a>
                        @if (Session["ChucVu"].ToString() == "nv" && Session["ChucVu"].ToString() != "Nhân Viên")
                        {
                            <a href="@Url.Action("Delete", "SanPhams", new { id = item.MaSP })">
                                <i class="fas fa-trash delete"></i>
                            </a>
                        }
                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
</div>